* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arvo', serif;
	background-image: url(imag/boliche.jpg);
	width: 100%;
	height: 100vh;
	position: absolute;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: black;
}	

h1 {
	color: white;
	margin-left: 50px;
	margin-right: 30px;
}

/*BARRA DE NAVEGACIÓN*/

.navegacion {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: rgba(30, 33, 34, 0.6);
	z-index: 997;
}

.nav_ul {
	text-align: center;
}

.nav_li {
	display: inline-block;
	padding: 14px;
}

.nav_li:hover > a {
	color: #441AD5;
}

.nav_li a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.dropbtn {
	display: inline-block;
	text-align: center;
}

li.dropdown {
	display: inline-block;
}

.dropdown_content {
  display: none; /*SIN EL HOVER NO SE MUESTRA*/
  position: absolute;
  background-color: #441AD5;
}

.dropdown_content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover {
	text-decoration: underline;
	background-color: white;
	color: #441AD5;
}

.dropdown:hover .dropdown_content { /*por esto te lo muestra en bloque*/
  display: block;
}

/*FIN BARRA DE NAVEGACIÓN*/

/*CONTENEDOR FORM OPINION*/

.form_contenedor {
	position: relative;
	width: 450px;
	height: 500px;
	border: 5px solid #441AD5;
	border-radius: 10px;
	margin-left: 40px;
}

.form_contenedor label {
	color: white;
	background-color: #441AD5;
	width: 100px;
	text-align: center;
}

.label_zona {
	position: absolute;
	top: 100px;
	margin-left: 40px;
}

.input_zona{
	position: absolute;
	top: 100px;
	left: 200px;
}

.input_zona select:focus {
	outline: none;
	border: #441AD5 solid 3px;
}

.select_zonas {
	width: 200px;
}

.label_sitios {
	position: absolute;
	top: 200px;	
	margin-left: 40px;
}

.input_sitios {
	position: absolute;
	top: 200px;
	left: 200px;
	width: 500px;
}

.input_sitios select:focus {
	outline: none;
	border: #441AD5 solid 3px;
}

.form_textarea {
	position: absolute;
	bottom: 100px;
	left: 45px;
}

.form_opinion textarea {
	border: none;
	overflow: auto;
	outline: none;
	box-shadow: none;
	margin: auto;
	height: 100px;
	width: 360px;
	background-color: #441AD5;
	color: white;
}

::-webkit-input-placeholder { 
    color: white;
}

.enviar {
	position: absolute;
	bottom: 40px;
	left: 180px;
}

.enviar input[type="submit"] {
	background-color: #441AD5;
	border-bottom: none;
	padding: 12px;
	color: white;
}

.enviar input:hover {
	text-decoration: underline;
	background-color: white;
	color: #441AD5;
}

/*FIN CONTENEDOR*

/*TABLA ZONAS*/

.links_tabla {
	display: inline-block;
}

.tab {
	display: inline-block;
	width: 350px;
	padding: 20px;
	box-sizing: border-box;
}

.links_tabla a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: 30px;
	background-color: #441AD5;
	padding: 15px;
	margin-bottom: 10px;
}

.links_tabla:hover > a{
	color: #441AD5;
	text-decoration: underline;
	background-color: white;
}

.queres_saber {
	margin-left: 5px;
}

.queres_saber h1 {
	background-color: black;
	text-align: center;
}

.queres_saber h2 {
	color: white;
	background-color: black;
	text-align: center;
}

.queres_saber h2>a {
	color: white;
	text-decoration: none;
}

.queres_saber h2>a:hover {
	text-decoration: underline;
	color: #441AD5;
}

/*APARTADO CABALLITO*/

.caballito h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 60px;
}

.carta {
	margin: 20px;
}

.carta img {
	width: 100%;
}

.links_card a {

}